@import "tailwindcss";

@theme {
    --color-primary: #2E7D32;
    --color-secondary: #4CAF50;
    --color-dark: #263238;
    --color-footergreen: #1B5E20;
    --color-accentblue: #00BCD4;
    --color-accentpurple: #7E57C2;
    --color-accentyellow: #FFC107;
}

@layer base {
    * {
        @apply box-border;
    }
    body {
        @apply m-0 font-sans;
    }
}